<p id="notice"><%= notice %></p>
<% if @current_user %>
  <h1>You are logged in as: <%= @current_user.username %></h1>
    <% if !@current_user.is_authorized %>
      <br/>You have not yet authorized this app for Foursqaure, <%= link_to 'click here', "/auth/foursquare" %> to do so.<br/>
      <i>Make sure you're not logged into any Foursquare account or are alread logged into the account you want to associate this username with</i><br />
    <% end %>
<% end %>
<h1>Whose Profile Would you like to see?</h1>

<table>
  <thead>
    <tr>
      <th>Username or First Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.first_name || user.username %></td>
        <% if user.foursquare_id %>
          <td><%= link_to 'View Profile', "/users/#{user.foursquare_id}" %></td>
        <% else %>
          <td><%= link_to 'View Profile', "/users/#{user.username}" %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Sign Up', '/signup' %>
<% if @current_user %>
  <%= link_to 'Log Out', '/logout' %>
<% else %>
  <%= link_to 'Log In', root_path %>
<% end %>
